@-moz-document domain("laracasts.com") {
.navbar {
  background-color: #1a2430 !important;
  border-top: 1px solid #556076 !important;
  padding: 20px 0 !important;
  border-bottom: 0px !important;
}

.navbar .navbar-brand {
  color: #fff !important;
}

.secondary-nav {
  background-color: #414a5c !important;
  border-top: 1px solid #556076 !important;
}

.secondary-nav .secondary-nav--left>li:first-child {
  border-left: none !important;
}

.secondary-nav .secondary-nav--left>li {
  border-right: none !important;
}

.secondary-nav .secondary-nav--left>li:hover,
.secondary-nav .secondary-nav--left>li:hover>.dropdown-toggle {
  background-color: #1a2430 !important;
  color: #fff !important;
}

#navbar-search-form {
  background: none !important;
}

.jumbotron {
  background: #556080 !important;
  border-bottom: 6px solid #5560a8 !important;
  color: #fff !important;
  padding: 55px 0 !important;
}

.forum .jumbotron .btn-primary:hover {
  background: #1a2430 !important;
}

.page {
  background: #333 !important;
}

.lessons-nav {
  background: none !important;
}

.lessons-nav--forum li.active a,
.lessons-nav--forum li a:hover {
  border-bottom: 3px solid #556080 !important;
  color: #fff !important;
}

.lessons-nav--forum li.active a,
.lessons-nav--forum li a:hover {
  border-bottom: 3px solid #556080 !important;
  color: #fff !important;
}

.lessons-nav--forum #lessons-nav--forum__leaderboard a {
  color: #ffcc00 !important;
}

.lessons-nav .container:after {
  border-top: 1px solid #556080 !important;
}

.media--conversation__replies a,
.media--conversation__replies .experience-points {
  color: #fff !important;
}

.reply__user-meta {
  color: #fff !important;
}

.updated h5::before {
  content: "\2605";
  padding-right: 5px;
}

.updated h5 {
  font-weight: bold !important;
  color: #a7b3c2;
}

.media--conversation__answered-icon {
  color: #000 !important;
  border: none !important;
  padding: 4px 6px 4px 6px !important;
  -webkit-box-shadow: 0 0 5px 2px #333 !important;
  box-shadow: 0 0 5px 2px #333 !important;
}

.btn-join {
  background: #556080 !important;
  color: #fff !important;
}
}
