@-moz-document domain("laracasts.com") {
.navbar {
  background-color: #1a2430 !important;
  border-top: 1px solid #556076 !important;
  padding: 20px 0 !important;
  border-bottom: 0px !important;
}

.navbar .navbar-brand {
  color: #fff !important;
}

.navbar-link:hover i, .navbar .dropdown-toggle:hover i {
  color: #fff !important;
}

.navbar-link, .navbar .dropdown-toggle {
  font-weight: normal !important;
}

.secondary-nav {
  background-color: #414a5c !important;
  border-top: 1px solid #556076 !important;
}

.secondary-nav .secondary-nav--left>li:first-child {
  border-left: none !important;
}

.secondary-nav .secondary-nav--left>li {
  border-right: none !important;
}

.secondary-nav .secondary-nav--left>li:hover,
.secondary-nav .secondary-nav--left>li:hover>.dropdown-toggle {
  background-color: #1a2430 !important;
  color: #fff !important;
}

#navbar-search-form {
  background: none !important;
}

.jumbotron {
  background: #556080 !important;
  border-bottom: 6px solid #5560a8 !important;
  color: #fff !important;
  padding: 55px 0 !important;
}

.forum .jumbotron .btn-primary:hover {
  background: #1a2430 !important;
}

.page {
  background: #333 !important;
}

main {
  background: #333 !important;
}

.comments {
  background: #fff !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
}

.lessons-nav {
  background: none !important;
}

.lessons-nav--forum li.active a,
.lessons-nav--forum li a:hover {
  border-bottom: 3px solid #556080 !important;
  color: #fff !important;
}

.lessons-nav--forum li.active a,
.lessons-nav--forum li a:hover {
  border-bottom: 3px solid #556080 !important;
  color: #fff !important;
}

.lessons-nav--forum #lessons-nav--forum__leaderboard a {
  color: #ffcc00 !important;
}

.lessons-nav .container:after {
  border-top: 1px solid #556080 !important;
}

.media--conversation__body h5 {
  text-shadow: none !important;
}

.media--conversation__replies a,
.media--conversation__replies .experience-points {
  color: #fff !important;
}

.reply__body:before {
  background: #222 !important;
  border: none !important;
  width: 15px !important;
  height: 15px !important;
}

.reply__body {
  background: #222 !important;
  color: #999 !important;
  padding: 30px !important;
  border: none !important;
  font-size: 16px !important;
}

.reply__footer {
  border-top: 1px solid #444 !important;
}

.reply__avatar {
  margin-right: 20px !important;
}
.reply__user-meta {
  color: #fff !important;
}

.reply__answer .reply__name {
  color: #fff !important;
}

.updated h5::before {
  content: "\2605" !important;
  padding-right: 5px !important;
}

.updated h5 {
  color: #fff !important;
}

.media--conversation__answered-icon {
  color: #000 !important;
  border: none !important;
  padding: 4px 6px 4px 6px !important;
  -webkit-box-shadow: 0 0 5px 2px #333 !important;
  box-shadow: 0 0 5px 2px #333 !important;
}

.btn-join {
  background: #556080 !important;
  color: #fff !important;
}

pre {
  margin-left: -30px !important;
  margin-right: -30px !important;
}

@media (max-width: 1200px) {
  .reply__footer {
    width: 659px !important;
  }
}
}
