@-moz-document domain("laracasts.com") {
  .navbar {
  background-color: #1a2430 !important;
  border-top: 1px solid #556076 !important;
  padding: 20px 0 !important;
  border-bottom: 0px !important;
}

.navbar .navbar-brand {
  color: #fff !important;
}

.navbar-link:hover i, .navbar .dropdown-toggle:hover i {
  color: #fff !important;
}

.navbar-link, .navbar .dropdown-toggle {
  font-weight: normal !important;
}

.secondary-nav {
  background-color: #414a5c !important;
  border-top: 1px solid #556076 !important;
}

.secondary-nav .secondary-nav--left>li:first-child {
  border-left: none !important;
}

.secondary-nav .secondary-nav--left>li {
  border-right: none !important;
}

.secondary-nav .secondary-nav--left>li:hover,
.secondary-nav .secondary-nav--left>li:hover>.dropdown-toggle {
  background-color: #1a2430 !important;
  color: #fff !important;
}

#navbar-search-form {
  background: none !important;
}

.jumbotron {
  background: #556080 !important;
  border-bottom: 6px solid #5560a8 !important;
  color: #fff !important;
  padding: 55px 0 !important;
}

.forum .jumbotron .btn-primary:hover {
  background: #1a2430 !important;
}

.page {
  background: #333 !important;
}

main {
  background: #333 !important;
}

.comments {
  background: #fff !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
}

.lessons-nav {
  background: none !important;
}

.lessons-nav li.active a, .lessons-nav li>a:hover {
  color: #fff !important;
  border-bottom: 3px solid #fff !important;
}

.lessons-nav--forum li.active a,
.lessons-nav--forum li a:hover {
  border-bottom: 3px solid #556080 !important;
  color: #fff !important;
}

.lessons-nav--forum li.active a,
.lessons-nav--forum li a:hover {
  border-bottom: 3px solid #556080 !important;
  color: #fff !important;
}

.lessons-nav--forum #lessons-nav--forum__leaderboard a {
  color: #ffcc00 !important;
}

.lessons-nav .container:after {
  border-top: 1px solid #556080 !important;
}

.lesson-block-meta button {
  color: #fff !important;
}

.lesson-block-meta {
  font-size: 15px !important;
  color: #fff !important;
}

.media--conversation__body h5 {
  text-shadow: none !important;
}

.media--conversation__replies a,
.media--conversation__replies .experience-points {
  color: #fff !important;
}

.reply__body:before {
  background: #222 !important;
  border: none !important;
  width: 15px !important;
  height: 15px !important;
}

.reply__body {
  background: #222 !important;
  color: #999 !important;
  padding: 30px !important;
  border: none !important;
  font-size: 16px !important;
}

.reply__footer {
  border-top: 1px solid #444 !important;
}

.reply__avatar {
  margin-right: 20px !important;
}

.reply__user-meta {
  color: #fff !important;
}

.reply__answer .reply__name {
  color: #fff !important;
}

.reply__help-block {
  color: #999 !important;
}

.updated h5::before {
  content: "\2605" !important;
  padding-right: 5px !important;
}

.updated h5 {
  color: #fff !important;
}

.media--conversation__answered-icon {
  color: #000 !important;
  border: none !important;
  padding: 4px 6px 4px 6px !important;
  -webkit-box-shadow: 0 0 5px 2px #333 !important;
  box-shadow: 0 0 5px 2px #333 !important;
}

.btn-join {
  background: #556080 !important;
  color: #fff !important;
}

.dropdown-menu {
  border-top: 3px solid #556080 !important;
}

.lessons-nav .dropdown-menu li:hover a {
  background: #6aacae !important;
}

#footer {
  background: #111 !important;
  border-top: 1px solid #555 !important;
}

pre {
  margin-left: -30px !important;
  margin-right: -30px !important;
}

.caret {
  border-top: 4px solid #fff !important;
}

.banner{
  background: #414A5C !important;
  padding: 7em 0 !important;
  position: relative !important;
  overflow: hidden !important;
  border-top: 1px solid #333A49 !important;
}

.banner__series-learning-points {
  border-left: 1px solid #B6BAC1 !important;
  padding-left: 40px !important;
  margin-top: 65px !important;
  position: relative !important;
  left: 40px !important;
  color: #fff !important;
}

.jumbotron {
  background: #3B3C41 !important;
  border-bottom: 1px solid #519294 !important;
  color: #fff !important;
  padding: 62px 0 !important;
  margin-bottom: 70px !important;
}

.banner__series-learning-points h5 {
  color: #A4B0BF !important;
  font-size: 1.5em !important;
  margin: 0 10px 0.5em 26px !important;
}

.reply__footer__like-list li {
  margin-right: 7px !important;
  background: #42435C !important;
  position: relative !important;
  top: 2px !important;
}

a {
    color: #C8C8C8 !important;
}

.reply__body p a {
  color: #C8C8C8 !important;
  font-weight: bold !important;
}

.btn-primary {
  background: #556080 !important;
  border-color: #414A5C !important;
}

::selection {
  background: #556080 !important;
  color: #fff !important;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  z-index: 2 !important;
  color: #fff !important;
  background-color: #5E6161 !important;
  border-color: #565656 !important;
  cursor: default !important;
}

.pagination>li>a, .pagination>li>span {
  position: relative !important;
  float: left !important;
  padding: 6px 12px !important;
  line-height: 1.428571429 !important;
  text-decoration: none !important;
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  margin-left: -1px !important;
  color: #5E6161 !important;
}

.episode-outline .episode-title .label-new {
  margin-left: 8px !important;
  background: #3F5884 !important;
}

/*
I REMOVED IT BUT I'M NOT SURE WHEN, SO LEAVEING IT AS A COMMENT
button.navbar-toggle {
  background: #556080 !important;
}
*/

.modal-header {
  background: #556080 !important;
  border-color: #414A5C !important;
  color: #fff !important;
}

.alert-info {
  background: #556080 !important;
  border-color: #414A5C !important;
  color: #fff !important;
}

.ProductsHeading, h3 a {
  color: #C7C3C3 !important;
}

.sidebar-nav li a:hover, .episode-outline .episode-wrap:hover td, .episode-outline .episode-wrap.active td{
  background-color:#414A5C !important;
  color: #EEE !important;
  cursor: pointer !important;
}

.lesson-title-meta strong,
.wrap--video a[href],
.reply__name a{
	color:#c8c8c8 !important;
}



.comments a[href]
{
	color:#414A5C !important;
} 


.navbar-link:hover,
.navbar-link:focus{
	color:#fff !important;
}

@media (max-width: 1200px) {
  .reply__footer {
    width: 659px !important;
  }
}
}