.navbar {
  background-color:#F4726D!important;
  padding:20px 0!important;
  border-bottom:0!important
}

.navbar-nav>li>a,.navbar-nav>li>a>i {
  color:#fff!important
}

.navbar-nav>li>a:hover {
  opacity:.5
}

#user-options .dropdown-menu {
  margin-right:80px
}

.dropdown-menu {
  border-top:3px solid #2B2A2E
}

.navbar .navbar-brand {
  opacity:1;
  color:#fff
}

.navbar .navbar-brand:hover {
  opacity:1;
  color:#fff
}

.zeroed .secondary-nav--left>li {
  color:red
}

.secondary-nav .secondary-nav--left>li:hover,.secondary-nav .secondary-nav--left>li:hover>.dropdown-toggle {
  background:#ddd!important
}

.jumbotron {
  background:#333
}

.forum .jumbotron .btn-primary {
  margin-top:10px
}

.forum .jumbotron .btn-primary:hover {
  background:#DDD!important;
  color:#000
}

.modal-header,.btn-submit {
  background-color:#F4726D!important;
  border:0
}

#footer {
  background:#333
}

#footer a:hover {
  text-decoration:none;
  color:#F4726D
}

.lessons-nav__primary li.active>a,.lessons-nav--forum #lessons-nav--forum__rankings a {
  color:#F4726D!important
}

.media--conversation > .media--conversation__avatar>i>h5 {
  text-decoration:line-through
}

.media--conversation__heading {
  color:#333!important
}

#conversations-sidebar {
  display:none
}

.threads-inner {
  width:100%
}

.last-updated a {
  color:#F4726D;
  opacity:.8
}

.last-updated a:hover {
  text-decoration:none;
  opacity:1
}

::selection {
  background:#F4726D;
  color:#fff
}

.pagination>.active>span {
  background:#F4726D!important;
  border:1px solid #ccc
}

.pagination>li>a {
  color:#333
}